<nav>
<% if current_user %>
	<%= current_user.name %> | <%= link_to "Logout", logout_path %>
	<%else%>
	<%=button_to "Login" , login_path %> | <%= link_to 'registrieren', registrieren_path %>
<% end %> 

</nav>